.inscription{
    margin: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75)
}
.inscription-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inscription-icon{
    font-size: 2.5rem!important;
}
.inscription-h2{
    font-size: 2rem;
    color: #555
}
.inscription-rows{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}
.inscription-left{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inscription-control{
    display: flex;
    flex-direction: column;
}
.inscription-nom{
    font-size: 13px;
    color: #555;
}
.inscription-radio{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.inscription-input,.inscription-select{
    padding: 10px;
    outline: none;
    border: 1px solid #d1cbcb88;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -10px rgba(63, 63, 63, 0.315);
    width: 100%;
}
.inscription-input:focus{
    border: 1px solid #2b7df867;
}

.inscription-btn{
    display: block;
    border: none;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    background: #1064e2;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75)
}
.inscription-btn:hover{
    background: #2675ebef;
}
.inscription-right{
    flex: 2;
}
.inscription-img{
    width: 100%;
    height: 230px;
    cursor: pointer;
}