.topbar{
    height: 50px;
    width: 100%;
    position: sticky;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 111;
    top: 0;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.logo{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(196, 24, 24);
}
.topbar-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.topbar-icons{
    position: relative;
    cursor: pointer;
}
.topbar-not{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: -5px;
    padding: 3px;
    border-radius: 50%;
    background: red;
    font-size: 10px;
    color: white;
}
.topbar-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}