.sidebar{
    flex: 2;
    height: calc(100vh - 50px);
    /* background: #111827; */
    background: #FFF;
    top:50px;
    position: sticky;
}
.sidebarWrapper{
    padding: 20px;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarH3{
    font-size: 18px;
    color: rgb(158, 152, 152);
}
.sidebarUl{
    padding: 5px;
}
.sidebarLi{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(110, 109, 109);
    margin-bottom: 5px;
}

/* .sidebarLi.active,  */.sidebarLi:hover{
    /* background: rgba(196, 24, 24, 0.082); */
    background: black;
    color: #fff;
}
.sidebarIcon{
    font-size: 20px !important;
}